{% extends 'base_html/base.html' %} {% load static %} {% block title %} Cautela
de Armamento {% endblock %} {% block content %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
  rel="stylesheet"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
  $(document).ready(function () {
    // Inicializa o Select2 em todos os selects com a classe .select2
    $(".select2").select2({
      placeholder: "Selecione uma opção",
      allowClear: true,
    });
  });

  function atualizarQuantidadeTotal(selectElement) {
    var subcategoriaId = selectElement.value; // Obtém o ID da subcategoria selecionada
    var row = selectElement.closest("tr"); // Encontra a linha correspondente
    var quantidadeTotalInput = row.querySelector(".quantidade-total"); // Encontra o campo de quantidade total

    console.log("Subcategoria ID selecionada:", subcategoriaId); // Log para verificar o ID selecionado

    if (subcategoriaId) {
      fetch(`/obter_quantidade_total/${subcategoriaId}/`)
        .then((response) => {
          if (!response.ok) {
            throw new Error("Erro ao buscar a quantidade total");
          }
          return response.json();
        })
        .then((data) => {
          console.log("Dados recebidos do servidor:", data); // Log para verificar os dados recebidos
          if (data.quantidade !== undefined) {
            quantidadeTotalInput.value = data.quantidade; // Atualiza o valor do campo com a quantidade retornada
          } else {
            quantidadeTotalInput.value = 0; // Define como 0 se não houver quantidade
          }
        })
        .catch((error) =>
          console.error("Erro ao buscar quantidade total:", error)
        );
    } else {
      quantidadeTotalInput.value = ""; // Limpa o campo se nenhuma subcategoria estiver selecionada
    }
  }

  function showModal() {
    // Captura o valor selecionado do campo "Nome do Policial"
    var policialSelecionado = document.getElementById("mySelect").value;
    var policialTexto = document.getElementById("mySelect").options[
        document.getElementById("mySelect").selectedIndex
    ].text;

    // Captura o valor selecionado do campo "Tipo de Serviço"
    var tipoServicoSelecionado = document.getElementById("tipo_servico").value;
    var tipoServicoTexto = document.getElementById("tipo_servico").options[
        document.getElementById("tipo_servico").selectedIndex
    ].text;

    // Verifica se os campos obrigatórios foram preenchidos
    if (!policialSelecionado || !tipoServicoSelecionado) {
        alert("Nome do Policial e Tipo de Serviço são obrigatórios.");
        return;
    }

    // Captura as categorias e subcategorias de armamento
    var categorias = document.getElementsByName("categorias[]");
    var subcategorias = document.getElementsByName("subcategorias[]");
    var categoriasSelecionadas = [];
    var subcategoriasSelecionadas = [];

    // Itera sobre todas as categorias e subcategorias de armamento
    for (var i = 0; i < categorias.length; i++) {
        var categoriaNome = categorias[i].options[categorias[i].selectedIndex].text;
        var subcategoriaNome = subcategorias[i].options[subcategorias[i].selectedIndex].text;
        if (categorias[i].value && subcategorias[i].value) {
            categoriasSelecionadas.push(categoriaNome);
            subcategoriasSelecionadas.push(subcategoriaNome);
        }
    }

    // Captura as categorias e subcategorias de munições
    var categoriasMunicoes = document.getElementsByName("categoria_municoes[]");
    var subcategoriasMunicoes = document.getElementsByName("subcategoria_municoes[]");
    var quantidadesMunicoes = document.getElementsByName("quantidade[]");
    var municoesSelecionadas = [];

    // Itera sobre todas as categorias e subcategorias de munições
    for (var i = 0; i < categoriasMunicoes.length; i++) {
        var categoriaMunicaoNome = categoriasMunicoes[i].options[categoriasMunicoes[i].selectedIndex].text;
        var subcategoriaMunicaoNome = subcategoriasMunicoes[i].options[subcategoriasMunicoes[i].selectedIndex].text;
        var quantidadeMunicao = quantidadesMunicoes[i].value;
        if (categoriasMunicoes[i].value && subcategoriasMunicoes[i].value && quantidadeMunicao) {
            municoesSelecionadas.push({
                categoria: categoriaMunicaoNome,
                subcategoria: subcategoriaMunicaoNome,
                quantidade: quantidadeMunicao,
            });
        }
    }

    // Verifica se pelo menos um dos grupos (armamento ou munição) foi preenchido
    if (categoriasSelecionadas.length === 0 && municoesSelecionadas.length === 0) {
        alert("Preencha pelo menos uma linha de armamento ou munição.");
        return;
    }

    // Monta o conteúdo do modal
    var detalhes = `
      <p><strong>Nome do Policial:</strong> ${policialTexto}</p>
      <p><strong>Tipo de Serviço:</strong> ${tipoServicoTexto}</p>
      <h5>Armamento e Equipamentos Selecionados:</h5>
      <ul>
        ${categoriasSelecionadas
          .map(
            (categoria, index) =>
              `<li>Categoria: ${categoria}, Subcategoria: ${subcategoriasSelecionadas[index]}</li>`
          )
          .join("")}
      </ul>
      <h5>Munições Selecionadas:</h5>
      <ul>
        ${municoesSelecionadas
          .map(
            (municao) =>
              `<li>Categoria: ${municao.categoria}, Subcategoria: ${municao.subcategoria}, Quantidade: ${municao.quantidade}</li>`
          )
          .join("")}
      </ul>
    `;

    // Insere os detalhes no modal
    document.getElementById("confirmation-details").innerHTML = detalhes;

    // Exibe o modal
    var modal = new bootstrap.Modal(document.getElementById("confirmModal"));
    modal.show();
}



  function submitForm() {
    document.getElementById("main-form").submit();
  }

  // Função para atualizar as subcategorias de armamento com base na categoria selecionada
  function updateSubcategoriasArmamento(rowId) {
    var formRow = document.getElementById(rowId);
    var categoriaId = formRow.querySelector(
      ".categoria-select-armamento"
    ).value;
    var subcategoriaSelect = formRow.querySelector(
      ".subcategoria-select-armamento"
    );
    subcategoriaSelect.innerHTML =
      '<option value="">Selecione uma Subcategoria</option>';

    if (categoriaId) {
      fetch(`/subcategorias_armamento/${categoriaId}/`)
        .then((response) => {
          if (!response.ok) {
            throw new Error("Erro ao buscar subcategorias");
          }
          return response.json();
        })
        .then((data) => {
          data.forEach((subcategoria) => {
            if (subcategoria.situacao === "disponivel") {
              var option = document.createElement("option");
              option.value = subcategoria.id;
              option.textContent = subcategoria.nome;
              subcategoriaSelect.appendChild(option);
            }
          });

          // Re-inicializa o Select2 após adicionar as novas opções
          $(subcategoriaSelect).select2({
            placeholder: "Digite para buscar...",
            allowClear: true,
          });
        })
        .catch((error) =>
          console.error("Erro ao buscar subcategorias de armamento:", error)
        );
    }
  }

  // Função para atualizar as subcategorias de munição com base na categoria selecionada
  function updateSubcategoriasMunicao(rowId) {
    var formRow = document.getElementById(rowId);
    var categoriaId = formRow.querySelector(".categoria-select-municao").value;
    var subcategoriaSelect = formRow.querySelector(
      ".subcategoria-select-municao"
    );
    subcategoriaSelect.innerHTML =
      '<option value="">Selecione uma Subcategoria</option>';

    if (categoriaId) {
      fetch(`/subcategorias_municao/${categoriaId}/`)
        .then((response) => {
          if (!response.ok) {
            throw new Error("Erro ao buscar subcategorias");
          }
          return response.json();
        })
        .then((data) => {
          data.forEach((subcategoria) => {
            if (subcategoria.situacao === "disponivel") {
              var option = document.createElement("option");
              option.value = subcategoria.id;
              option.textContent = subcategoria.nome;
              subcategoriaSelect.appendChild(option);
            }
          });

          // Re-inicializa o Select2 após adicionar as novas opções
          $(subcategoriaSelect).select2({
            placeholder: "Digite para buscar...",
            allowClear: true,
          });
        })
        .catch((error) =>
          console.error("Erro ao buscar subcategorias de munição:", error)
        );
    }
  }

  function addRow(tableId, tipo) {
    // Obtenha o corpo da tabela onde a nova linha será adicionada
    var tableBody = document.getElementById(tableId);

    // Determine o novo ID da linha
    var rowCount = tableBody.getElementsByTagName("tr").length;
    var newRowId =
      tipo === "armamento"
        ? "form-row" + (rowCount + 1)
        : "municoes-row" + (rowCount + 1);

    // Crie uma nova linha
    var newRow = document.createElement("tr");
    newRow.id = newRowId;

    if (tipo === "armamento") {
      // Adicione o conteúdo da nova linha de armamento (já implementado anteriormente)
      newRow.innerHTML = `
            <td>
              <select class="form-control categoria-select-armamento select2" name="categorias[]" onchange="updateSubcategoriasArmamento('${newRowId}')">
                <option value="">Selecione uma Categoria</option>
                {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <select class="form-control subcategoria-select-armamento select2" name="subcategorias[]" onchange="atualizarQuantidadeTotal(this)">
                <option value="">Selecione uma Subcategoria</option>
              </select>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" onclick="removeRow('${newRowId}')">Remover</button>
            </td>
        `;
    } else if (tipo === "municao") {
      // Adicione o conteúdo da nova linha de munição com 5 colunas e o botão de remover
      newRow.innerHTML = `
            <td>
              <select id="categoriaM${
                rowCount + 1
              }" class="form-select categoria-select-municao select2" name="categoria_municoes[]" onchange="updateSubcategoriasMunicao('${newRowId}')" required>
                <option value="">Selecione uma Categoria</option>
                {% for categoria_municao in categorias_municoes %}
                <option value="{{ categoria_municao.id }}">{{ categoria_municao.nome }}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <select id="subcategoriaM${
                rowCount + 1
              }" class="form-select subcategoria-select-municao select2" name="subcategoria_municoes[]" required onchange="atualizarQuantidadeTotal(this)">
                <option value="">Selecione uma Subcategoria</option>
              </select>
            </td>
            <td>
              <input type="number" class="form-control quantidade-total" name="quantidade_total[]" readonly>
            </td>
            <td>
              <input type="number" class="form-control" name="quantidade[]" min="1" oninput="atualizarQuantidadeRestante(this)" required>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" onclick="removeRow('${newRowId}')">Remover</button>
            </td>
        `;
    }

    // Adicione a nova linha ao corpo da tabela
    tableBody.appendChild(newRow);

    // Re-inicialize o Select2 para os novos selects
    $(`#${newRowId} .select2`).select2({
      placeholder: "Digite para buscar...",
      allowClear: true,
    });
  }

  function removeRow(rowId) {
    // Remove a linha com base no ID fornecido
    var row = document.getElementById(rowId);
    if (row) {
      row.parentNode.removeChild(row);
    }
  }

  function removeRow(rowId) {
    // Remove a linha com base no ID fornecido
    var row = document.getElementById(rowId);
    if (row) {
      row.parentNode.removeChild(row);
    }
  }

  function atualizarQuantidadeRestante(inputElement) {
    var quantidadeDigitada = parseInt(inputElement.value);
    var row = inputElement.closest('tr');
    var quantidadeTotalInput = row.querySelector('.quantidade-total');
    var quantidadeTotal = parseInt(quantidadeTotalInput.value);

    if (quantidadeDigitada > quantidadeTotal) {
        alert('A quantidade selecionada não pode ser maior que o total disponível.');
        inputElement.value = quantidadeTotal;  // Ajusta o valor para o máximo disponível
    }
}

  function removeRow(rowId, tableId) {
    var row = document.getElementById(rowId);
    row.parentNode.removeChild(row);
  }
</script>

<div class="container mt-4">
  <h1 class="mb-4 text-center">CAUTELA DE ARMAMENTO E EQUIPAMENTO</h1>

  <!-- Início do Formulário -->
  <form method="POST" id="main-form" class="needs-validation" novalidate>
    {% csrf_token %}

    <!-- Dados do Policial e Tipo de Serviço -->
    <div class="mb-3">
      <h5>DADOS DO POLICIAL E TIPO DE SERVIÇO</h5>
      <label for="policial-select" class="form-label"
        ><h6>Nome do Policial:</h6></label
      >
      <select
        id="mySelect"
        name="policial"
        class="form-select select2"
        required
      >
        <option value="">Selecione um Policial</option>
        {% for policial in policiais %}
        <option value="{{ policial.id }}">{{ policial.nome }}</option>
        {% endfor %}
      </select>
      <div class="invalid-feedback">Por favor, selecione um policial.</div>
    </div>

    <!-- Tipo de Serviço -->
    <div class="mb-3">
      <label for="tipo_servico" class="form-label"
        ><h6>Tipo de Serviço:</h6></label
      >
      <select
        id="tipo_servico"
        name="tipo_servico"
        class="form-select select2"
        required
      >
        <option value="">Selecione o Horário</option>
        {% for value, label in tipos_servico %}
        <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
      </select>
      <div class="invalid-feedback">
        Por favor, selecione o tipo de serviço.
      </div>
    </div>

    <!-- Seção de Armamento e Equipamentos -->
    <div class="table-responsive">
      <h5>ARMAMENTO E EQUIPAMENTOS</h5>
      <table id="form-table" class="table table-bordered">
        <thead class="table-light">
          <tr>
            <th>Categoria</th>
            <th>Subcategoria</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody id="form-table-body">
          <tr id="form-row1">
            <td>
              <select
                id="categoria1"
                class="form-select categoria-select-armamento select2"
                name="categorias[]"
                onchange="updateSubcategoriasArmamento('form-row1')"
              >
                <option value="">Selecione uma Categoria</option>
                {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <select
                id="subcategoria2"
                class="form-select subcategoria-select-armamento select2"
                name="subcategorias[]"
                required
              >
                <option value="">Selecione uma Subcategoria</option>
              </select>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                onclick="removeRow(this)"
              >
                -
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="mb-3">
        <button
          type="button"
          class="btn btn-primary"
          onclick="addRow('form-table-body', 'armamento')"
        >
          Adicionar Linha
        </button>
      </div>

      <!-- Tabela para MUNIÇÕES -->
      <h5>MUNIÇÕES</h5>

      <table id="municoes-table" class="table table-bordered">
        <thead class="table-light">
          <tr>
            <th>Categoria</th>
            <th>Subcategoria</th>
            <th>Quantidade Total</th>
            <th>Quantidade</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody id="municoes-table-body">
          <tr id="municoes-row1">
            <td>
              <select
                id="categoriaM1"
                class="form-select categoria-select-municao select2"
                name="categoria_municoes[]"
                onchange="updateSubcategoriasMunicao('municoes-row1')"
                required
              >
                <option value="">Selecione uma Categoria</option>
                {% for categoria_municao in categorias_municoes %}
                <option value="{{ categoria_municao.id }}">
                  {{ categoria_municao.nome }}
                </option>
                {% endfor %}
              </select>
            </td>
            <td>
              <select
                id="subcategoriaM1"
                class="form-select subcategoria-select-municao select2"
                name="subcategoria_municoes[]"
                required
                onchange="atualizarQuantidadeTotal(this)"
              >
                <option value="">Selecione uma Subcategoria</option>
              </select>
            </td>
            <td>
              <input
                type="number"
                class="form-control quantidade-total"
                name="quantidade_total[]"
                readonly
              />
            </td>
            <td>
              <input
                type="number"
                class="form-control"
                name="quantidade[]"
                min="1"
                oninput="atualizarQuantidadeRestante(this)"
                required
              />
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                onclick="removeRow(this)"
              >
                -
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="mb-3">
        <button
          type="button"
          class="btn btn-primary"
          onclick="addRow('municoes-table-body', 'municao')"
        >
          Adicionar Linha
        </button>
        <button type="button" class="btn btn-success" onclick="showModal()">
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="confirmModal"
  tabindex="-1"
  aria-labelledby="confirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirmação</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div id="confirmation-details"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
        <button type="button" class="btn btn-primary" onclick="submitForm()">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
