{% extends 'base_html/base.html' %} {% block title %} Lista de Cautelas
{%endblock %} {% block content %}
<div class="container mt-4">
  <h2 class="mb-4 text-center">Registros de Cautelas</h2>

  <!-- Campo de pesquisa -->
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="search_input" class="form-label">Pesquisar</label>
      <input
        type="text"
        id="search_input"
        class="form-control"
        placeholder="Digite para pesquisar..."
      />
    </div>
  </div>

  <!-- ################ Tabela de registros ################ -->
  <table class="table table-bordered table-striped">
    <!-- Cabeçalho da Tabela -->
    <thead class="table-light">
      <tr>
        <!-- Cabeçalhos das colunas da tabela -->
        <th>Data e Hora</th>
        <th>Policial</th>
        <th>Tipo de Serviço</th>
        <th>Categoria Armamento</th>
        <th>Subcategoria Armamento</th>
        <th>Categoria Munição</th>
        <th>Subcategoria Munição</th>
        <th>Quantidade Munição</th>
        <th>Armeiro</th>
        <th>Ações</th>
        <!-- Coluna para os botões de ação -->
      </tr>
    </thead>

    <!-- Corpo da Tabela -->
    <tbody id="registros_tbody">
      {% for registro in registros %}
      <tr id="registro-row-{{ registroId }}">
        <td>{{ registro.data_hora }}</td>
        <td>{{ registro.policial.nome_guerra }}</td>
        <td>{{ registro.tipo_servico }}</td>
        <td>{{ registro.categoria_armamento }}</td>
        <td>{{ registro.subcategoria_armamento }}</td>
        <td>{{ registro.categoria_municao }}</td>
        <td>{{ registro.subcategoria_municao }}</td>
        <td>{{ registro.quantidade_municao }}</td>
        <td>{{ registro.armeiro.username }}</td>

        <!-- Coluna de Ações com botões -->
        <td>
          <button
            class="btn btn-primary btn-sm"
            onclick="openDescautelarSAModal({{ registro.id }}, '{{ registro.policial.nome }}')"
          >
            Descautela S/A
          </button>

          {% if registro.categoria_armamento %}
          <button
            class="btn btn-danger btn-sm"
            onclick="openDescautelarArmamentoModal({{ registro.id }}, '{{ registro.categoria_armamento }}', '{{ registro.subcategoria_armamento }}')"
          >
            Descautela C/A
          </button>
          {% else %}
          <button
            class="btn btn-danger btn-sm"
            onclick="openDescautelarMunicaoModal({{ registro.id }}, '{{ registro.categoria_municao }}', '{{ registro.subcategoria_municao }}', '{{ registro.quantidade_municao }}')"
          >
            Descautela C/A - Munição
          </button>
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="10" class="text-center">Nenhum registro encontrado</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- #################### Modal Descautela S/A ####################-->
  <!-- #################### Modal Descautela S/A ####################-->
  <div
    class="modal fade"
    id="descautelarSAModal"
    tabindex="-1"
    aria-labelledby="descautelarSAModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Cabeçalho do Modal -->
        <div class="modal-header">
          <h5 class="modal-title" id="descautelarSAModalLabel">
            Descautela S/A
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <!-- Corpo do Modal -->
        <div class="modal-body">
          <p>
            Descautela de S/A para o policial
            <span id="policialNomeModalSA"></span>
          </p>

          <!-- Formulário para enviar os dados via POST -->
          <form
            id="formDescautelarSAModal"
            method="POST"
            action="{% url 'descautelar_sa' %}"
          >
            {% csrf_token %}
            <input type="hidden" name="registro_id" id="registroIdInputSA" />
          </form>
        </div>

        <!-- Rodapé do Modal com botões -->
        <div class="modal-footer">
          <!-- Botão para cancelar, agora com coloração vermelha -->
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Cancelar
          </button>

          <!-- Botão confirmar descautela com coloração verde para destaque -->
          <button
            type="button"
            class="btn btn-success"
            id="btnConfirmarDescautelaSAModal"
          >
            Confirmar Descautela
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ################  Modal Descautela Armamento (C/A) ################ -->
  <div
    class="modal fade"
    id="descautelarCAModal"
    tabindex="-1"
    aria-labelledby="descautelarCAModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="descautelarCAModalLabel">
            Descautela C/A - Armamento
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Fechar Modal"
          ></button>
        </div>
        <div class="modal-body">
          <p>
            Descautela de Armamento para
            <span id="categoriaArmamentoModal"></span> -
            <span id="subcategoriaArmamentoModal"></span>
          </p>
          <form
            method="POST"
            action="{% url 'descautelar_ca' %}"
            id="formDescautelarCA"
          >
            {% csrf_token %}
            <input
              type="hidden"
              name="registro_id"
              id="registroIdInputCA"
              value=""
            />
            <div class="mb-3">
              <label for="situacaoSelectArmamento" class="form-label"
                >Situação do Armamento</label
              >
              <select
                class="form-select"
                id="situacaoSelectArmamento"
                name="situacao"
              >
                <option value="disponivel">Disponível</option>
                <option value="cautelada">Cautelada</option>
                <option value="extraviado">Extraviado</option>
                <option value="roubado">Roubado</option>
                <option value="quebrado">Quebrado</option>
                <option value="furado">Furado</option>
                <option value="disparado">Disparado</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="observacaoInput" class="form-label"
                >Observações</label
              >
              <textarea
                class="form-control"
                id="observacaoInput"
                name="observacao"
                rows="3"
                placeholder="Adicione observações, se necessário"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">
              Confirmar Descautela
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ################  Modal Descautela Munição (C/A) ################ -->
  <div
  class="modal fade"
  id="descautelarMunicaoModal"
  tabindex="-1"
  aria-labelledby="descautelarMunicaoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="descautelarMunicaoModalLabel">
          Descautela C/A - Munição
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fechar Modal"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Descautela de Munição da categoria
          <span id="categoriaMunicaoModal"></span> -
          <span id="subcategoriaMunicaoModal"></span>
        </p>
        <form
          method="POST"
          action="{% url 'descautelar_ca' %}"
          id="formDescautelarMunicaoCA"
        >
          {% csrf_token %}
          <input
            type="hidden"
            name="registro_id"
            id="registroIdInputMunicaoCA"
            value=""
          />
          <input
            type="hidden"
            name="quantidade_atual"
            id="quantidadeAtualInputMunicaoCA"
            value=""
          />
          <div class="mb-3">
            <label for="quantidadeMuniçãoInput" class="form-label"
              >Quantidade de Munição</label
            >
            <input
              type="number"
              class="form-control"
              id="quantidadeMuniçãoInput"
              name="quantidade_municao"
              placeholder="Digite a quantidade"
              min="1"
              max=""
            />
          </div>
          <div class="mb-3">
            <label for="situacaoSelectMunicao" class="form-label"
              >Situação do Armamento</label
            >
            <select
              class="form-select"
              id="situacaoSelectMunicao"
              name="situacao"
            >
              <option value="disponivel">Disponível</option>
              <option value="cautelada">Cautelada</option>
              <option value="extraviado">Extraviado</option>
              <option value="roubado">Roubado</option>
              <option value="quebrado">Quebrado</option>
              <option value="furado">Furado</option>
              <option value="disparado">Disparado</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="observacoesInput" class="form-label">Observações</label>
            <textarea
                class="form-control"
                id="observacoesInput"
                name="observacoes"
                rows="3"
                placeholder="Digite suas observações aqui"
            ></textarea>
        </div>
          <button type="submit" class="btn btn-primary">
            Confirmar Descautela
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>


<script>
  //###################################################################################
  //################################ SCRIPT PARA MODAL ################################
  //###################################################################################
// Seleciona o campo de pesquisa
const searchInput = document.getElementById("search_input");

// Adiciona um evento de entrada
searchInput.addEventListener("input", function () {
  const filter = searchInput.value.toLowerCase(); // Obtém o valor em minúsculas
  const rows = document.querySelectorAll("#registros_tbody tr"); // Seleciona todas as linhas da tabela

  rows.forEach((row) => {
    const cells = row.getElementsByTagName("td");
    let found = false; // Variável para verificar se algum valor da linha corresponde à pesquisa

    // Percorre todas as células da linha
    for (let i = 0; i < cells.length; i++) {
      const cell = cells[i];
      // Se a célula contém o valor de pesquisa, marca como encontrado
      if (cell.textContent.toLowerCase().includes(filter)) {
        found = true;
        break; // Sai do loop se encontrar uma correspondência
      }
    }

    // Exibe ou oculta a linha com base na pesquisa
    row.style.display = found ? "" : "none"; // Se encontrado, exibe a linha; caso contrário, oculta
  });
});
  // ####################################################################
  //########## 1. Script para abrir o modal de Descautela S/A: ##########
  // ####################################################################

  function openDescautelarSAModal(registroId, policialNome) {
    // Definir os valores no modal
    document.getElementById("registroIdInputSA").value = registroId;
    document.getElementById("policialNomeModalSA").textContent = policialNome;

    // Abrir o modal
    var modal = new bootstrap.Modal(
      document.getElementById("descautelarSAModal")
    );
    modal.show();
  }

  document
    .getElementById("btnConfirmarDescautelaSAModal")
    .addEventListener("click", function () {
      var form = document.getElementById("formDescautelarSAModal");
      var formData = new FormData(form);

      fetch("{% url 'descautelar_sa' %}", {
        method: "POST",
        body: formData,
        headers: {
          "X-CSRFToken": formData.get("csrfmiddlewaretoken"),
        },
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.status === "success") {
            console.log(
              "Descautela realizada com sucesso. Categoria Armamento: ",
              data.categoria_armamento
            );

            // Atualiza a página automaticamente após sucesso
            location.reload(); // Recarregar a página
          } else {
            console.log("Erro na descautela:", data.message);
          }
        })
        .catch((error) => console.error("Erro na requisição:", error));
    });

  // ####################################################################
  //## 2. Script para abrir o modal de Descautela de Armamento (C/A): ###
  // ####################################################################

  function openDescautelarArmamentoModal(
    registroId,
    categoriaArmamento,
    subcategoriaArmamento
  ) {
    // Definir os valores no modal
    document.getElementById("registroIdInputCA").value = registroId;
    document.getElementById("categoriaArmamentoModal").textContent =
      categoriaArmamento;
    document.getElementById("subcategoriaArmamentoModal").textContent =
      subcategoriaArmamento;

    // Abrir o modal
    var modal = new bootstrap.Modal(
      document.getElementById("descautelarCAModal")
    );
    modal.show();
  }

  document
  .getElementById("formDescautelarCA")
  .addEventListener("submit", function (event) {
    event.preventDefault(); // Evitar o envio padrão do formulário

    var form = event.target;
    var formData = new FormData(form);

    // Construa o objeto de dados para envio
    var data = {
      registro_id: formData.get("registro_id"),
      situacao: formData.get("situacao"),
      observacao: formData.get("observacao"),
      observacoes: formData.get("observacoes"), // Adicione esta linha
      csrfmiddlewaretoken: formData.get("csrfmiddlewaretoken"),
    };

    // Enviar a requisição para o servidor usando fetch API
    fetch(form.action, {
      method: "POST",
      headers: {
        "X-CSRFToken": data["csrfmiddlewaretoken"],
      },
      body: formData,
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          console.log("Descautela realizada com sucesso!");

          // Remover a linha da tabela correspondente ao registroId
          var registroRow = document.getElementById("registro-row-" + data.registro_id);
          if (registroRow) {
            registroRow.remove(); // Remove a linha do DOM
          }

          // Fechar o modal
          var modal = bootstrap.Modal.getInstance(document.getElementById("descautelarCAModal"));
          modal.hide();

        } else if (data.limite_municao !== undefined) {
          // Caso a quantidade de munição seja retornada como limite, ajustar no modal
          document.getElementById("quantidadeMuniçãoInput").max = data.limite_municao; // Definir o limite máximo no campo correspondente
          console.log(`Limite de munição ajustado para: ${data.limite_municao}`);
        } else {
          console.log("Erro na descautela:", data.error);
        }
      })
      .catch((error) => console.error("Erro na requisição:", error));
  });
  // ####################################################################
  //### 3. Script para abrir o modal de Descautela de Munição (C/A): ####
  // ####################################################################

  function openDescautelarMunicaoModal(
    registroId,
    categoriaMunicao,
    subcategoriaMunicao,
    quantidadeMunicao
  ) {
    // Definir os valores no modal
    document.getElementById("registroIdInputMunicaoCA").value = registroId;
    document.getElementById("categoriaMunicaoModal").textContent =
      categoriaMunicao;
    document.getElementById("subcategoriaMunicaoModal").textContent =
      subcategoriaMunicao;
    document.getElementById("quantidadeAtualInputMunicaoCA").value =
      quantidadeMunicao;
  
    // Abrir o modal
    var modal = new bootstrap.Modal(
      document.getElementById("descautelarMunicaoModal")
    );
    modal.show();
  }
  
  // Adicionar o listener para o envio do formulário de descautela de munição
  document
    .getElementById("formDescautelarMunicaoCA")
    .addEventListener("submit", function (event) {
      event.preventDefault(); // Evitar o envio padrão do formulário
  
      var form = event.target;
      var formData = new FormData(form);
  
      // Enviar a requisição para o servidor usando fetch API
      fetch(form.action, {
        method: "POST",
        headers: {
          "X-CSRFToken": formData.get("csrfmiddlewaretoken"),
        },
        body: formData,
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            console.log("Descautela realizada com sucesso!");
  
            // Fechar o modal após sucesso
            var modal = bootstrap.Modal.getInstance(
              document.getElementById("descautelarMunicaoModal")
            );
            modal.hide();
  
            // Recarregar a página para refletir as mudanças
            location.reload();
          } else {
            console.log("Erro na descautela:", data.error);
          }
        })
        .catch((error) => console.error("Erro na requisição:", error));
    });
  
</script>
{% endblock %}
