<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Página{% endblock %}</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <!-- Correção do caminho do CSS -->
    <link rel="stylesheet" href="{% static 'cautelaarmamento/css/style.css' %}">
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                  <i class="lni lni-grid-alt"></i>
              </button>
                <div class="sidebar-logo">
                    <a href="#">PMMA - TIMON</a>
                    
                </div>
            </div>
            <ul class="sidebar-nav">

            {% comment %} #################### ARMAMENTO ################### {% endcomment %} {% comment %} ############################################################## {% endcomment %} {% comment %} ##############################################################{% endcomment %}                
                
            <li class="sidebar-item">
                <a href="#armamento" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#armamento" aria-expanded="false" aria-controls="armamento">
                    <i class="lni lni-shield"></i>
                    <span>Armamento</span>
                </a>
                <ul id="armamento" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'cautelar_de_armamento' %}" class="sidebar-link">Cautela de armamento</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'listar_cautelas' %}" class="sidebar-link">Descautela de armamento</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'cadastrar_pessoa' %}" class="sidebar-link">Cadastro de Policiais Militares</a>
                        {% comment %} <a href="#" class="sidebar-link">Cadastro de Policiais Militares</a> {% endcomment %}
                    </li>
                </ul>
            </li>
            
            {% comment %} ########################## CATÁLOGO DE EQUIPAMENTOS ####################### {% endcomment %} {% comment %} ###################### INVENTARIO DE ARMAS #################### {% endcomment %} {% comment %} ##############################################################{% endcomment %}
            <li class="sidebar-item">
                <a href="#inventario" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#inventario" aria-expanded="false" aria-controls="inventario">
                    <i class="lni lni-list"></i>
                    <span>Catálogo de Equipamentos</span>
                </a>
                <ul id="inventario" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Itens Disponíveis</a>
                    </li>
                    <li class="sidebar-item">
                        {% comment %} <a href="{% url 'inventario_equipamentos' %}" class="sidebar-link">Inventário de Equipamentos</a> {% endcomment %}
                        <a href="#" 'inventario_equ class="sidebar-link">Inventário de Equipamentos</a>
                    </li>
                    <li class="sidebar-item">
                        {% comment %} <a href="{% url 'listar_armamentos' %}" class="sidebar-link">Armas e Materiais</a> {% endcomment %}
                        <a href="#" class="sidebar-link">Armas e Materiais</a>
                    </li>
                </ul>
            </li>
            

            
                                    
            {% comment %} #################### RELATORIOS E ANALISES ################### {% endcomment %}
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#relatorio" aria-expanded="false" aria-controls="relatorio">
                        <i class="lni lni-bar-chart"></i>
                        <span>Relatórios e Análises</span>
                    </a>
                    <ul id="relatorio" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                              Solicitações Pendentes
                          </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Histórico de Autorizações
                          </a>

                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                              Verificação de Conformidade</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                              Controle de Acesso</a>
                        </li>
                    </ul>
                </li>
            {% comment %} ############################################################## {% endcomment %} {% comment %} ############################################################## {% endcomment %}

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#autorizacao" aria-expanded="false" aria-controls="autorizacao">
                        <i class="lni lni-lock"></i>
                        <span>Autorização e Controle</span>
                    </a>
                    <ul id="autorizacao" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                              Relatórios Operacionais
                          </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Estatísticas de Uso
                          </a>

                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                              Auditorias de Inventário</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                              Resumo de Atividades</a>
                        </li>
                    </ul>
                </li>
                {% comment %} ##################### MANUTENÇÃO E SUPORTE ########################## {% endcomment %} {% comment %} ############################################################## {% endcomment %} {% comment %} ##############################################################
                {% endcomment %}

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#manutencao" aria-expanded="false" aria-controls="manutencao">
                        <i class="lni lni-cog"></i>
                        <span>Manutenção e Suporte</span>
                    </a>
                    <ul id="manutencao" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                              Manutenção de Armamento
                          </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                              Agenda de Manutenção
                          </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                              Solicitações de Suporte
                          </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                              Histórico de Manutenções
                          </a>
                        </li>
                    </ul>
                </li>
                {% comment %} ######################## CONFIGURAÇÕES DO SISTEMA ####################### {% endcomment %} {% comment %} ############################################################## {% endcomment %} {% comment %} ##############################################################
                {% endcomment %}

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#configuracao" aria-expanded="false" aria-controls="configuracao">
                        <i class="lni lni-control-panel"></i>
                        <span>Configurações do Sistema</span>
                    </a>
                    <ul id="configuracao" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                              Gerenciamento de Usuários
                          </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                              Configurações de Segurança
                          </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                              Personalização de Relatórios
                          </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                              Backup e Recuperação
                          </a>
                        </li>
                    </ul>
                </li>
                {% comment %} ########################## DOCUMENTAÇÃO E PROTOCOLOS ###################### {% endcomment %} {% comment %} ############################################################## {% endcomment %} {% comment %} ##############################################################
                {% endcomment %}

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#documentacao" aria-expanded="false" aria-controls="documentacao">
                        <i class="lni lni-files"></i>
                        <span>Documentação e Protocolos</span>
                    </a>
                    <ul id="documentacao" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <a href="#" class="sidebar-link">
                              Protocolos de Segurança
                          </a>
                </li>
                <a href="#" class="sidebar-link">
                              Guias de Uso
                          </a>
                </li>
                <a href="#" class="sidebar-link">
                              Políticas de Armamento
                          </a>
                </li>
                </ul>
                </li>
                {% comment %} ######################### MONITORAMENTO EM TEMPO REAL ####################### {% endcomment %} {% comment %} ############################################################## {% endcomment %} {% comment %} ##############################################################
                {% endcomment %}
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#monitoramento" aria-expanded="false" aria-controls="monitoramento">
                        <i class="lni lni-eye"></i>
                        <span>Monitoramento em Tempo Real</span>
                    </a>
                    <ul id="monitoramento" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Status do Estoque
                          </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Alertas e Notificações
                          </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Monitoramento de Conformidade
                          </a>
                        </li>
                    </ul>
                </li>

                {% comment %} ############################################################## {% endcomment %} {% comment %} ############################################################## {% endcomment %} {% comment %} ##############################################################
                {% endcomment %}


                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-popup"></i>
                        <span>Notificação</span>
                    </a>
                </li>

                {% comment %} ############################################################## {% endcomment %} {% comment %} ############################################################## {% endcomment %} {% comment %} ##############################################################
                {% endcomment %}

            </ul>
            <div class="sidebar-footer">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>
        <div class="main p-3">
            {% block content %}
            <!-- Conteúdo específico da página será inserido aqui -->
            {% endblock %}
        </div>
    </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Correção do caminho do JS -->
    <script src="{% static 'cautelaarmamento/js/script.js' %}"></script>
</body>

</html>