{% extends 'base_html/base.html' %}

{% block title %}
    Lista de Cautelas de Armamento
{% endblock %}

{% block content %}
  <header>LIVRO DE CAUTELA - {{ data_final }}</header>

    <div class="section">
        <table style="width: 100%; border-collapse: collapse;">
            <tr>
                <!-- Coluna Esquerda -->
                <td style="width: 70%; vertical-align: top;">
                    <img src="cautelaarmamento/static/cautelaarmamento/images/logo.png" alt="Logo" style="width: 100px;"> <!-- Imagem do logo -->
                    <h3>
                        ESTADO DO MARANHÃO<br />
                        SECRETARIA DE ESTADO DA SEGURANÇA PÚBLICA<br />
                        POLÍCIA MILITAR DO MARANHÃO<br />
                        COMANDO DO POLICIAMENTO DO INTERIOR - CPI<br />
                        COMANDO DO POLICIAMENTO DE ÁREA DO INTERIOR – CPA/I 04<br />
                        11º BATALHÃO DE POLÍCIA MILITAR – 4º CIA MATÕES
                    </h3>
                </td>
                <!-- Coluna Direita -->
                <td style="width: 30%; vertical-align: top; text-align: center;">
                    <h4>2º TEN QOPM CURY</h4>
                    <h5>CMT da 4ª CIA</h5>
                </td>
            </tr>
        </table>
    </div>

    <div class="section">
        <h3>ASSUNÇÃO DO SERVIÇO</h3>
        <p>
            Parte diária do 3º SGT PM 411/07 GEORGY de serviço de 24Hs do dia 14 de setembro de 2024 para o dia 15 de setembro de 2024, ao CMT da 4ª CIA/11º BPM.
        </p>
    </div>

    <div class="section">
        <h3>CAUTELA DIÁRIA</h3>
        <ul>
            <li>
                <strong>O 3º SGT PM 411/07 GEORGY CAUTELOU:</strong> ARMA: PT100 .40 12 SAT69699, MUNIÇÕES: 11, CARREGADORES: 01
            </li>
            <li>
                <strong>O CB PM 402/14 BARBARA CAUTELOU:</strong> ARMA: PT100 .40 12 SAT69660, MUNIÇÕES: 33, CARREGADORES: 03, COLETE: PROTECTA/ FEM M OC0009979.0030
            </li>
            <li>
                <strong>O CB PM 736/14 ALENCAR CAUTELOU:</strong> ARMA: PT100 .40 12 SZE18923, MUNIÇÕES: 33, CARREGADORES: 03, ALGEMA: ZORRO 01, COLETE: PROTECTA M OC0009978.0005
            </li>
            <li>
                <strong>O SD PM 539/22 WILLIAM CAUTELOU:</strong> COLETE: PROTECTA/ FEM M OC0009979.0004
            </li>
        </ul>
    </div>

    <div class="section">
        <h3>MATERIAL DA CARGA</h3>
        <p>SEM ALTERAÇÃO</p>
        <ul>
            <li>02 - CARABINAS CAL. 556</li>
            <li>06 - CARREGADORES CAL. 556</li>
            <li>285 - MUNIÇÕES CAL. 556</li>
            <li>01 - FUZIL FAL CAL. 762</li>
            <li>135 - MUNIÇÕES DE CAL. 7.62</li>
            <li>11 - PISTOLA CAL. 40</li>
            <li>33 - CARREGADORES CAL. 40</li>
            <li>312 - MUNIÇÕES CAL. 40</li>
            <li>12 - COLETES BALÍSTICOS</li>
            <li>04 - CAPAS DE CHUVA</li>
            <li>03 - CAPACETES</li>
            <li>03 - COLETES REFLETIVOS</li>
            <li>06 - TONFAS</li>
            <li>07 - ALGEMAS C/03 CHAVES</li>
            <li>02 - PARES DE EPI's</li>
            <li>01 - CELULAR COM 01 CARREGADOR</li>
            <li>02 - HT's COM 02 CARREGADORES BASE</li>
         
