{% extends 'base_html/base.html' %}

{% block title %} 
Inventário de Equipamentos
{% endblock %}

{% block content %}
<h1>Inventário de Equipamentos</h1>

{% regroup itens_disponiveis by categoria as itens_por_categoria %}

{% for categoria in itens_por_categoria %}
    <h2>Categoria: {{ categoria.grouper }}</h2>
    <table border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Calibre</th>
                <th>Nº Arma</th>
                <th>Nº PMMA</th>
                <th>Localização</th>
                <th>Estado de Conservação</th>
                <th>Observação</th>
            </tr>
        </thead>
        <tbody>
            {% for item in categoria.list %}
                <tr>
                    <td>{{ item.descricao_completa }}</td>
                    <td>{{ item.marca }}</td>
                    <td>{{ item.modelo }}</td>
                    <td>{{ item.cal }}</td>
                    <td>{{ item.num_arma }}</td>
                    <td>{{ item.num_pmma }}</td>
                    <td>{{ item.localizacao }}</td>
                    <td>{{ item.estado_conservacao }}</td>
                    <td>{{ item.observacao }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% empty %}
    <p>Nenhum item disponível.</p>
{% endfor %}
{% endblock %}
